## Here We are trying to run our first python code

In [1]:
1+2

3

In [2]:
a=4.2
print(a)

4.2

In [3]:
name='jim'
print(name)

jim

In [4]:
l=[1,2,3,7,'joe','andrew',10]
print(l)

[1, 2, 3, 7, 'joe', 'andrew', 10]

In [5]:
dict={'joe':34,"kyle":25}
print(dict)

{'joe': 34, 'kyle': 25}

In [6]:
l[4]

'joe'

In [7]:
dict['joe']

34

In [8]:
string1='Hi'
string2='Welcome to DAT_46'
print(string1+' '+string2)

Hi Welcome to DAT_46

In [9]:
age=23
if age<20:
    print("a teen")
elif  20<age<40:
    print("middle age")
else:
    print("older guy")

middle age

In [10]:
listt=['jim','marwin','carishna','mark']
for item in listt:
    print(item)

jim
marwin
carishna
mark

In [11]:
employees=[0,0.5,0.3,0.7,0.99,0]
for employee_score in employees:
    if employee_score == 0 :
        print('No raise')
    elif employee_score<=0.5:
        print('50% raise')
    else:
        print('100% raise')

No raise
50% raise
50% raise
100% raise
100% raise
No raise

In [12]:
def sum(a,b):
    return(a+b)

def divide(a,b):
    return(a/b)

sum(2,6)

8

In [13]:
divide(8,2)

4.0

In [14]:
a=[1,2,4,6,9,23]
max(a)

23

In [15]:
def apple(a):
    xx=-100000
    for item in a:
        if item>xx:
            xx=item
            
    return(xx-1)

In [16]:
apple([9,3,4,0,-10,1999])

1998

In [17]:
min([9,3,4,0,-10,1999])

-10

In [20]:
try:
    a=3/0
except:
    print("Dude, are you ok?")

Dude, are you ok?

In [29]:
for item in [2,1,4,5]:
    #print(item)
    a=0
    try:
        a=item/(item-1)
        #print(a)
    except:
        print('you cannot do this to me')
        
    print(a)

2.0
you cannot do this to me
0
1.3333333333333333
1.25

In [31]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]
new_list = []

while data_list:
    minimum = data_list[0]  # arbitrary number in list 
    for x in data_list: 
        if x < minimum:
            minimum = x
    new_list.append(minimum)
    data_list.remove(minimum)    

print(new_list)

[-23, -6, -5, 0, 5, 23, 23, 67]